<ion-view view-title="Simple tasks project">
  <ion-content class="padding">
    <h2>Hybrid application</h2>
    <p>
      We using Angularjs, Ionic framework, Nodejs, Mysql to build this application.
    </p>
    <p>
      This app can create, update, delete task and task status and estimate task
    </p>
    <div class="card">
      <div class="item item-divider">
        Teams
      </div>
      <div class="item item-text-wrap">
        <p>Nattapol Srikitpipat</p>
        <p>Piyatat Jiangsiripun</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Tools
      </div>
      <div class="item item-text-wrap">
        <p><a href="https://ionicframework.com" target="_blank">Ionic Framework V.1</a></p>
        <p><a href="https://angularjs.org/" target="_blank">AngularJS</a></p>
        <p><a href="https://nodejs.org/en" target="_blank">Node.js</a></p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Follow us
      </div>
      <div class="item item-text-wrap">
        <p><a href="https://www.facebook.com/TATEOY" target="_blank">Piyatat Jiangsiripun's facebook</a></p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Thank for invite us
      </div>
      <div class="item item-text-wrap">
        <p>JuniorLek Khantongchai</p>
      </div>
    </div>
  </ion-content>
</ion-view>
